.loginContainer {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 70px 30px 120px 30px;
  background-color: #192136;
  color: #fff;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "image-box"
    "form-box";
  row-gap: 100px;
  column-gap: 50px;
}

.image-box {
  grid-area: image-box;
}

.image-box img {
  display: block;
  width: 100%;
  max-width: 450px;
  height: auto;
  margin: 0 auto;
}

.form-box {
  grid-area: form-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin-bottom: 35px;
}

.form-box form {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.form-box label {
  margin-bottom: 5px;
  padding-left: 2px;
}

.form-box input {
  display: block;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  margin-bottom: 15px;
  border: none;
}

.form-box button {
  display: block;
  width: 100%;
  height: 32px;
  border: none;
  outline: none;
  background-color: #6c63ff;
  color: #fff;
  margin-top: 30px;
  font-size: 1.1rem;
  font-weight: 600;
}

.form-box button:hover {
  background-color: #0077ff;
}

@media screen and (min-width: 1000px) {
  .grid-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "image-box form-box";
  }
}
