* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

body.modal-open {
  overflow: auto;
}
body.modal-open[style] {
  padding-right: 0px !important;
}

.modal::-webkit-scrollbar {
  width: 0 !important;
}

a {
  text-decoration: none;
}
